//
// Do any local configuration here
//

// Consider adding the 1918 zones here, if they are not used in your
// organization.
include "/etc/bind/zones.rfc1918";

{% if nameserver_type == 'master' %}
include "/etc/bind/zones.master";
{% endif %}

{% if nameserver_type == 'slave' %}
include "/etc/bind/zones.slave";
{% endif %}

