
{% for zone in nameserver_zones %}
zone "{{ zone }}" {
        type slave;
        file "db.{{ zone }}";
        masters {
{% for master in nameserver_acl_masters %}{% if master != nameserver_query_source|default('') %}{% if master != ansible_local.gce_primary_external_ip|default('') %}
                {{ master }};
{% endif %}{% endif %}{% endfor %}
        };
};

{% endfor %}

