[Unit]
Description={{ tw5_wiki_name }} TiddlyWiki
Wants=apache2.service

[Service]
ExecStart=/usr/local/bin/tiddlywiki {{ tw5_wiki_path }} --server
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=tiddlywiki-{{ tw5_wiki_name }}
User={{ tw5_user }}
Group={{ tw5_group|default(tw5_user) }}
Environment=NODE_ENV=production PORT={{ tw5_port }}

[Install]
WantedBy=multi-user.target
