
<IfModule !mod_ssl.c>
    <VirtualHost {{ tw5_exclusive_vhost|default(False)|bool|ternary('_default_',tw5_virtual_host|default('_default_')) }}:443>
        Include sites-available/tiddlywiki-base-include-{{ tw5_virtual_host|default(tw5_wiki_name) }}.conf

        ErrorLog ${APACHE_LOG_DIR}/{{ tw5_virtual_host|default(tw5_wiki_name) }}-error.log
        CustomLog ${APACHE_LOG_DIR}/{{ tw5_virtual_host|default(tw5_wiki_name) }}-access.log combined

        RewriteCond %{REQUEST_METHOD} !^(GET|HEAD)
        RewriteRule .* - [R=405,L]

        Include sites-available/tiddlywiki-proxy-include-{{ tw5_virtual_host|default(tw5_wiki_name) }}.conf
    </VirtualHost>
</IfModule>

<IfModule mod_ssl.c>
    <VirtualHost {{ tw5_exclusive_vhost|default(False)|bool|ternary('_default_',tw5_virtual_host|default('_default_')) }}:80>
        ServerName {{ tw5_virtual_host|default(ansible_fqdn) }}
        ServerAlias www.{{ tw5_virtual_host|default(ansible_fqdn) }}
        Redirect / https://{{ tw5_virtual_host|default(ansible_fqdn) }}
    </VirtualHost>

    <VirtualHost {{ tw5_exclusive_vhost|default(False)|bool|ternary('_default_',tw5_virtual_host|default('_default_')) }}:443>
        Include sites-available/tiddlywiki-base-include-{{ tw5_virtual_host|default(tw5_wiki_name) }}.conf

        ErrorLog ${APACHE_LOG_DIR}/{{ tw5_virtual_host|default(tw5_wiki_name) }}-error.log
        CustomLog ${APACHE_LOG_DIR}/{{ tw5_virtual_host|default(tw5_wiki_name) }}-access.log combined

        RewriteCond %{REQUEST_METHOD} !^(GET|HEAD)
        RewriteRule .* - [R=405,L]

        Include sites-available/tiddlywiki-ssl-include-{{ tw5_virtual_host|default(tw5_wiki_name) }}.conf

        RewriteCond %{HTTP_HOST} !^{{ tw5_virtual_host|default(tw5_wiki_name) }}$ [NC]
        RewriteCond %{HTTP_HOST} !^$
        RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [L,R=301,NE]
        RewriteRule ^/static/?$ https://%{SERVER_NAME}/static/Hello.html [L,R=301,NE]

        Include sites-available/tiddlywiki-proxy-include-{{ tw5_virtual_host|default(tw5_wiki_name) }}.conf
    </VirtualHost>

    <VirtualHost {{ tw5_exclusive_vhost|default(False)|bool|ternary('_default_',tw5_virtual_host|default('_default_')) }}:444>
        Include sites-available/tiddlywiki-base-include-{{ tw5_virtual_host|default(tw5_wiki_name) }}.conf

        ErrorLog ${APACHE_LOG_DIR}/{{ tw5_virtual_host|default(tw5_wiki_name) }}-RW-error.log
        CustomLog ${APACHE_LOG_DIR}/{{ tw5_virtual_host|default(tw5_wiki_name) }}-RW-access.log combined

        <Location />
            AuthType basic
            AuthName "{{ tw5_wiki_name }}"
            AuthBasicProvider file
            AuthUserFile {{ tw5_passwd_file }}
            Require user {{ tw5_user }}
        </Location>

        Include sites-available/tiddlywiki-ssl-include-{{ tw5_virtual_host|default(tw5_wiki_name) }}.conf

        RewriteCond %{HTTP_HOST} !^{{ tw5_virtual_host|default(tw5_wiki_name) }}:444$ [NC]
        RewriteCond %{HTTP_HOST} !^$
        RewriteRule ^/?(.*) https://%{SERVER_NAME}:444/$1 [L,R=301,NE]
        RewriteRule ^/static/?$ https://%{SERVER_NAME}:444/static/Hello.html [L,R=301,NE]

        Include sites-available/tiddlywiki-proxy-include-{{ tw5_virtual_host|default(tw5_wiki_name) }}.conf
    </VirtualHost>
</IfModule>

