{% include "ssh_config.j2" %}

Host *.tfb.net *.mlt *.rbsov *.gce 10.1.4.* 90.155.50.* 93.186.33.102 93.186.33.103 2001:8b0:84c:717d:*
    User nicolaw
    Port 1009
    ForwardAgent yes

Host jane janeworthington Janes-iMac
    HostName 127.0.0.1
    Port 2229
    User janeworthington

